.quanbtn {
    outline: none;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius:0;
    background: transparent;
    width: 36px;
    height: 36px;
    font-size: 25px;
    flex: 1;
}

button{
    color: #acacac;
}

.btn {
    padding-top: 0px;
}

.btn:hover {
    background: #e0e0e0;
}

.quantity {
    width: 42px;
    height: 36px;
    border-left: none;
    border-right: none;
    text-align: center;
    cursor: text;
    border-radius: 0;
    font-size: 17px;
    background: transparent;
    flex: 1;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 0;
    width: 100%;
}

.quanbtn:focus {
    box-shadow: none;
}
