<div class="container">
    <div class="row">
        <div class="column text-center" >
            <img src="https://i.imgur.com/gYHdDmY.png" alt="" width="40px" style="margin-top:50px; margin-bottom:20px">
            <h1 style="margin-bottom: 20px;">POKESHOP</h1>

            <p>Một chiếc đồ án web thương mại điện tử chuyên cung cấp các sản phẩm mô hình pokemon nhưng không có hình thật nên phải dùng sprite thay thế, đảm bảo không có đối thủ cạnh tranh!</p>
            <div class="dvi" style="opacity: 0.8; font-size: 13px;"> 
            <p>CONTACT : 0582165674 | Ho Chi Minh City | Vietnam</p>
            </div>
            <p style="margin-top: 100px; opacity: 0.6;">iu thuong nhiu !</p>
            <img src="https://i.imgur.com/pi7RY7t.png" alt="" width="30px" >
            <p style="margin-bottom: 200px;"> &copy; 2019-2020 All right reserved</p>
            
        </div>
    </div>
</div>