<div class="row" style="overflow: hidden;">

  <div class="column" style="width: 100%; display: flex; flex-direction: column;align-items: center">

    <div class="row" style="width: 100%; overflow: hidden;">
      <div class="column mainp" style="overflow: hidden;">
          <img src="https://i.imgur.com/VeDufIG.png" class="img" alt="">
        
          <div class="co caro" style=" margin-top: 0px;">
          <h4 class="h-text"> SUMMER DEALS </h4>
          <div  class="product-view">
            <div class="container">
              <div class="product-row-view">
                <product-card  *ngFor="let product of products" [product]="product">
                </product-card>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- cac the loai product -->
    <div class=" co c-type">

      <h4 class="h-text"> SHOP BY CATEGORY </h4>

      <div class="cucu">
        <span class="shop-now" routerLink="/category"> SHOP NOW </span>
      </div>

      <div class="type-cat">
        <button routerLink="/category/Normal" class="btnn">
          <i class="fas fa-circle"></i>
          <p>Normal</p>
        </button>
        <button routerLink="/category/Fire" class="btnn">
          <i class="fas fa-fire"></i>
          <p>Fire</p>
        </button>
        <button routerLink="/category/Grass" class="btnn">
          <i class="fas fa-leaf"></i>
          <p>Grass</p>
        </button>
        <button routerLink="/category/Water" class="btnn">
          <i class="fas fa-tint"></i>
          <p>Water</p>
        </button>
        <button routerLink="/category/Electric" class="btnn">
          <i class="fas fa-bolt"></i>
          <p>Electric</p>
        </button>
        <button routerLink="/category/Dragon" class="btnn">
          <i class="fas fa-dragon"></i>
          <p>Dragon</p>
        </button>
        <button routerLink="/category/Ghost" class="btnn">
          <i class="fas fa-ghost"></i>
          <p>Ghost</p>
        </button>
        <button routerLink="/category/Dark" class="btnn">
          <i class="fas fa-moon"></i>
          <p>Dark</p>
        </button>
        <button routerLink="/category/Bug" class="btnn">
          <i class="fas fa-bug"></i>
          <p>Bug</p>
        </button>
        <button routerLink="/category/Flying" class="btnn">
          <i class="fas fa-feather-alt"></i>
          <p>Flying</p>
        </button>
        <button routerLink="/category/Rock" class="btnn">
          <i class="fas fa-dice-d6"></i>
          <p>Rock</p>
        </button>
        <button routerLink="/category/Ice" class="btnn">
          <i class="fas fa-snowflake"></i>
          <p>Ice</p>
        </button>
        <button routerLink="/category/Fairy" class="btnn">
          <i class="fas fa-spa"></i>
          <p>Fairy</p>
        </button>
        <button routerLink="/category/Steel" class="btnn">
          <i class="fas fa-gear"></i>
          <p>Steel</p>
        </button>
        <button routerLink="/category/Psychic" class="btnn">
          <i class="fas fa-bullseye"></i>
          <p>Psychic</p>
        </button>
        <button routerLink="/category/Poison" class="btnn">
          <i class="fas fa-skull"></i>
          <p>Poison</p>
        </button>
        <button routerLink="/category/Fighting" class="btnn">
          <i class="fas fa-fist-raised"></i>
          <p>Fighting</p>
        </button>
        <button routerLink="/category/Ground" class="btnn">
          <i class="fas fa-mountain"></i>
          <p>Ground</p>
        </button>
      </div>
    </div>


    <div class="co caro" style="margin-top: 50px;">
      <h4 class="h-text"> BEST SELLERs </h4>
      <div class="product-view">
        <div class="container">
          <div class="product-row-view">
            <product-card *ngFor="let product of products1" [product]="product">
            </product-card>
          </div>
        </div>
  
      </div>
    </div>


    <div class="co" style="padding-bottom: 50px; margin-bottom: 50px;">
      <h4 class="h-text"> CUSTOMERs' FEEDBACKs </h4>
      <div class="product-view">

        <div class="container">
          <div id="CEI" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators daucham">
              <li data-target="#CEI" data-slide-to="0" class="active"></li>
              <li data-target="#CEI" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">

                <div class="col">
                  <div class="card feedback-card">
                    <div class="card-body">
                      <img class="avatar" src="https://i.imgur.com/raxfdwl.png" alt="" style="width: 50px;">
                      <p class="customer-name">Bella</p>
                      <p class="customer-class">
                          new customer <span class="fas fa-star"></span>
                      </p>
                      <p class="feedback-text" style="margin-top: 50px;">okay!</p>
                      <p class="feedback-time">12/23/2019</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="col">
                  <div class="card feedback-card">
                    <div class="card-body">
                      <img class="avatar" src="https://i.imgur.com/raxfdwl.png" alt="" style="width: 50px;">
                      <p class="customer-name">Maria</p>
                      <p class="customer-class">
                          new customer <span class="fas fa-star"></span>
                      </p>
                      <p class="feedback-text" style="margin-top: 50px;">okay!</p>
                      <p class="feedback-time">12/23/2019</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            

            <a class="carousel-control-prev" href="#CEI" role="button" data-slide="prev">
              <span class="prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#CEI" role="button" data-slide="next">
              <span class="next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
  
      </div>
    </div>

    <div class="row signup-sign">
      <div class="cont">
        <h2 class="keugoi">SIGN-UP AND GET PROMOTION!</h2>
        <button class="bt" routerLink="/sign-up"> SIGN-UP</button>
      </div>
    </div>

  </div>
</div>
