
section {
   padding: 20px;
  margin-top: 20px;
}


.back {
  font-size: 14px;
  margin-top: 25px;
}


.popup {
  margin: 100px auto;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  width: 300px;
  height: 230px;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup .close {
  position: absolute;
  font-size: 20px;
  text-decoration: none;
  color: #d3d3d3;
  opacity: 1;
  display: flex;
  flex-direction: row-reverse;
  height: 37px;
  width: 37px;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;  
  cursor: pointer;
}

.popup .close:hover {
  color: #242424;
}

.popup .content {
 justify-content: center;
}

.fa-check {
   position: relative;
   margin-top: 4px;
   margin-bottom: 30px;
   font-size: 25px;
   color: yellowgreen;
}

.far {
   position: absolute;
   margin-top: -8px;
   color: yellowgreen;
   animation: spin;
   animation-iteration-count: infinite;
   animation-duration: 2s;
  animation-timing-function: linear;
}


.f1 {
  animation-delay: 25ms;
}

.f2 {
  animation-delay: 50ms;
}

.f3 {
  animation-delay: 75ms;
}


.alert {
   text-align: right;
   height: 30px;
   border: none;
   background: transparent;
   border-radius: 0;
   padding-top: 5px;
   padding-right: 5px;
   font-weight: 600;
}


.alert-danger {
   color: #d93a3a;
   border-top: 3px solid #d93a3a;
}

.alert-success {
   color: yellowgreen;
   border-top: 3px solid yellowgreen;
}

.login-form {
   width:500px;
   height: 700px;
   background: transparent;
   padding: 20px;
   padding-top: 0;
   margin: 0 auto;
}



@media (max-width:500px) {
   .login-form {
       width:470px;

   }
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

::placeholder {
   font-weight: 500;
   color: #999999;
   font-size: 17px;
}


input {
   height: 55px;
   border: 1px solid #f0f0f0;
   border-radius: 2px;
   background: #f0f0f0;
   outline: none;
   font-weight: 600;
   font-size: 18px;
   }
   
   input:focus{
       box-shadow: none;
       background: transparent;
       border: 1px solid rgb(209, 209, 209);
   }


label {
    font-size: 15px;
    color:#242424;
}

#wrapper {
   width: 100%;
   display: flex;
   flex-direction: row;
   margin-top: 30px;
 }

.flex-c-m {
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: center;
   -ms-align-items: center;
   align-items: center;
}

.btn {
   background: #242424;
   border-radius: 0;
   border: none;
   outline: none;
   color: white;
   font-weight: bold;
   display: inline-block;
   padding-left: 20px;
   padding-right: 20px;
   height : 55px;
}

.btn:hover {
 background: #d93a3a;
 transition: 0.1s;
}

p{
   margin-bottom:2px;
   font-size: 17px;
   color: #999999;
   margin-left: 10px;
}

p a {
   color: black;
   text-decoration:none ;
}

p a:hover { 
   color: #d93a3a;
}


