<div class="container-fluid">

    <!-- dòng định hướng cho trang -->
    <ul class="breadcrumb">
        <button class="back">BACK</button>
        <li><a href="#">Home</a></li>
        <li>Grass</li>
    </ul>

    <!-- hiển thị category và sản phẩm -->
    <div class="row no-gutters">

        <!-- category nè -->
        <div class="col col-2" id="cat">
            <div class="category">
                <product-filter></product-filter>
            </div>
        </div>
        
<div class="col" style="overflow: hidden;" (ngOninit)="ngOninit()">

    <div class="container" id="navbar">
        <div class="box-3">
            <div class="sub">
                <div class="flex-container f3" style="font-weight: 600; ">
                    <div class="cuc">
                        <p class="tooltiptext">Price Range</p>
                        <span>$1000 - $</span>
                        <span style="color: #d63939;" id="value">2</span>
                        <span style="margin-right: 12px">500</span>
                    </div>
                    <p>Min</p>
                    <input type="range" class="slider" min="1000" max="2500" value="2000" step="100"  id="slider" [ngModel]="mymodel" (ngModelChange)="valueChanged1($event)">
                    ${{range1}}
                    <p>Max</p>
                    <input type="range" class="slider" min="1000" max="2500" value="2000" step="100"  id="slider" [ngModel]="mymodel" (ngModelChange)="valueChanged($event)">
                    ${{range}}
            
                </div>
            </div>
        </div>

    </div>
    
    <div class="col">
        <!-- tên category và số lượng còn trong kho-->
        <div class="row category-row">


            <!-- chiếc select để đựng category khi thu nhỏ màn hình lại -->
            <select id="category">
                <option value="Type1">Type</option>
                <option value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Grass">Grass</option>
                <option value="Electric">Electric</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fight</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dragon">Dragon</option>
                <option value="Dark">Dark</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
            </select>

        </div>
   
        <div class="prod">
            <product-card  *ngFor="let product of productlistsearch" [product]="product">
            </product-card>
        </div>
    </div>
    
</div>
