<ul class="list-group ">
                         
        <li (click) = "onClick()" class="list-group-item headtype">
                All Types 
        </li>

        <li (click) = "onClick1()" class="list-group-item cat1">
               Normal
        </li>
        <li  (click) = "onClick2()" class="list-group-item cat2">
               Fire
        </li>

        <li  (click) = "onClick3()"class="list-group-item cat3">
                Water
        </li>

        <li (click) = "onClick4()" class="list-group-item cat4">
                Grass
        </li>
        <li  (click) = "onClick5()"class="list-group-item cat5">
                Electric
        </li>
        <li  (click) = "onClick6()"class="list-group-item cat6">
               Ice
        </li>
        <li  (click) = "onClick7()"class="list-group-item cat7">
                Fighting
        </li>
        <li  (click) = "onClick8()"class="list-group-item cat8">
                Poison
        </li>
        <li  (click) = "onClick9()" class="list-group-item cat9">
                Ground
        </li>
        <li  (click) = "onClick10()" class="list-group-item cat10">
                Flying
        </li>
        <li  (click) = "onClick11()"class="list-group-item cat11">
                Psychic
        </li>
        <li  (click) = "onClick12()"class="list-group-item cat12">
                Bug
        </li>
        <li  (click) = "onClick13()"class="list-group-item cat13">
                Rock
        </li>
        <li  (click) = "onClick14()"class="list-group-item cat14">
               Ghost
        </li>
        <li  (click) = "onClick15()"class="list-group-item cat15">
                Dragon
        </li>
        <li  (click) = "onClick16()"class="list-group-item cat16">
                Dark
        </li>
        <li  (click) = "onClick17()"class="list-group-item cat17">
                Steel
        </li>
        <li  (click) = "onClick18()"class="list-group-item cat18">
                Fairy
        </li>

        <li style="margin-top:20px" class="img-container">
                <img src="https://i.imgur.com/4TvkjWM.png" alt="" class="btn-img" routerLink="/category">    
        </li>

        <li class="img-container">
                <img src="https://i.imgur.com/qrVhmHy.png" alt="" class="btn-img" routerLink="/category">
        </li>

        
</ul> 