.headtype {
color: #ffffff;
    background: #242424;
    width: 100%;
}

.list-group-item {
    cursor: pointer;
    position: relative;
    font-size: 15px;
    padding-left: 10px;
    border: none;
    border-radius: 0;
    height: 36px;
    display: flex;
    align-items: center;
}

i{
    margin-right: 10px;
}

.hey {
display: flex;
flex-direction: row;
}

.list-group-item:hover {
    background: #242424;
    color: white;
}

.list-group-item:after {
    display: block;
    content: " ";
    position: absolute;
   border-top: 1px solid white;
   border-right: 1px solid white;
   transform: rotate(45deg);
    height: 8px;
    width: 8px;
    top: 50%;
    margin-top: -4px;
    right: 20px;
    transition: 0.2s;
}

.list-group-item:before {
    display: block;
    content: " ";
    position: absolute;
    background: white;
    height: 1px;
    width: 30px;
    top: 50%;
    margin-top: -1px;
    right: 20px;
    transition: 0.2s;
}

.list-group-item:hover:after {
right: 10px;
}

.list-group-item:hover:before {
    right: 10px;
}

.btn-img {
    width: 100%;
cursor: pointer;  

}

.img-container {
    position: relative;
}

.img-container:after {
    display: block;
    content: " ";
    position: absolute;
   border-top: 1px solid white;
   border-right: 1px solid white;
   transform: rotate(45deg);
    height: 8px;
    width: 8px;
    left: 22px;
    bottom: 11px;
    transition: 0.2s;
}

.img-container:before {
    display: block;
    content: " ";
    position: absolute;
    background: white;
    height: 1px;
    width: 20px;
    bottom: 15px;
    left: 10px;
    transition: 0.2s;
}

.img-container:hover:after {
left: 27px;
}

.img-container:hover:before {
    left: 15px;
}

ul {
    list-style-type: none;
}

.btn{
    margin: 5px;
}

.btn:hover{
    background: #FFD656;
}
