
        <div class="row">
            <div class="col col-2" >
            <admin-nav></admin-nav>
            </div>
            <div class="col col-10">
                    <div class="besa">
                   
                            <h4>ORDERs</h4>
                                 <input type="search" class="form-control" placeholder="Search by Order number">
                                 <div class="change-view-buttons">
                                         <span style="font-family: monospace; font-size: 12px;">CHANGE VIEW</span>
                                        <button class="change-view list-view"  routerLink="/admin/orders/list"><i class="fas fa-list"></i></button>
                                        <button class="change-view card-view"><i class="fas fa-th-list"></i></button>    
                                    </div>  
                             </div>

                    <order-card></order-card>
                    <order-card></order-card>
            </div>
        </div>    


    