<div class="container">
        <p> <a routerLink="/shopping-cart"  >Cart </a> 
            <span>
                <a routerLink="/check-out" >> Information</a> 
            </span> 
            <span style="opacity: 0.5;"> > Shipping</span></p>
                
                <div class="row" style="padding-top: 10px;">
                 
<h2>Order Information</h2>
<div class="card">
</div>

                </div>
                           
                            
        </div>
                          