<body style="overflow:hidden">
    <bs-navbar></bs-navbar>
    <chat-dialog></chat-dialog>
    <main role="main">
        
        <router-outlet></router-outlet>
    </main>


<footer>
    <div class="text-center">
        <h5><i class="fa fa-heart" style="color: #d93a3a;"></i></h5>
        <div class="co">
            <p> &copy; 2019-2020 | <a routerLink="/vclteam">VCLTEAM</a> |
                Do an Lap trinh Ung dung mang | </p> &nbsp; <a href="https://daa.uit.edu.vn/">UIT</a>
        </div>
    </div>
</footer>
</body>