<div class="container">
    <div class="column">
        <div class="row order-info">
            <div class="col">
                <div class="top">
                    <div class="bulk" style="flex:1">
                        <label for="">NUMBER</label>
                        <P>{{order._id}} </P>
                    </div>
                    <div class="bulk" style="border-left: 1px solid #e0e0e0; flex:1">
                        <label for="">DATE</label>
                        <p>12/12/19</p>
                    </div>
                </div>
                <div class="bulk">
                    <label for="">ORDER STATUS</label>
                    <p class="s a">Confirmed <span class="tim">12/12/2019 - 12:45AM</span> </p>
                    <p class="s a">Packed <span class="tim"> 12/12/2019 - 12:50AM</span></p>
                    <p class="s a">Delivering <span class="tim">12/12/2019 - 1:00AM</span> </p>
                    <p class="s a">Delivered <span class="tim">12/13/2019 - 12:45AM</span> </p>
                </div>

            </div>

            <div class="col summary">
                <div class="bulk"> <label>SUMMARY</label>
                    <ul class="list-group">
                        <li  *ngFor ="let name of order.name; index as i" class="list-group-item">
                            {{order.quantity[i]}} x {{name}}
                        
                        </li>

                        <li class="list-group-item dash dashi">
                            ____
                        </li>

                        <li class="list-group-item">
                            Subtotal
                            <div class="float-right">
                                {{order.total}}
                            </div>
                        </li>

                        <li class="list-group-item fee">
                            Shipping fee
                            <div class="float-right">
                                $1000
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="col ship-to">
                <div class="bulk">
                    <label>SHIP TO</label>
                    <p class="s name">{{order.receiver}}</p>
                    <p class="s phone">{{order.phone}}</p>
                    <p class="s address">{{order.address}}</p>

                </div>

                <div class="bulk" style="border-top: 1px solid #e0e0e0;">
                    <label>TOTAL</label> <span style="font-size: 10px; margin-top: 5px;" class="float-right">CASH ON
                        DELIVERY</span>
                    <h2 class="tien">{{order.total + 1000}}</h2>
                    <p style="font-size: 10px; margin-top: -5px;"> Including 10% VAT and shipping fee</p>

                </div>



            </div>
        </div>
    
        <h3 style="margin-top: 20px;">Phương thức thanh toán</h3>
        <div class="row">
    <button class="btn">giao tại nhà</button>
    <button class="btn">thanh toán paypal</button>
    </div>  
    </div>

</div>



