<div class="row">
        <div class="col col-2" >
        <admin-nav></admin-nav>
    </div>
        <div class="col col-10">
            <div class="con">
      <div class="container-fluid">
        <i class="far fa-user"></i>  
    <div class="body">
        <div class="text">
<p class="title">New Customer !</p>
<p class="detail">sachaocochudicon@gmail.com <span style="opacity: 0.5;"> has been registered ! </span></p>
        </div>

        <div class="datetime">
                <p class="date">Wed 12/12/2019</p>
                <p class="time">12:45</p>
        </div>
        </div>
      </div> 
      <span class="fas fa-circle" style="color: yellowgreen;" id="new"> </span>
      <button class="btn far fa-times-circle" title="DELETE"></button>
    </div>













    <div class="con">
            <div class="container-fluid">
              <i class="far fa-lemon"></i>  
          <div class="body">
              <div class="text">
      <p class="title">New Order !</p>
      <p class="detail">Order number #MF63FPF<span style="opacity: 0.5;"> has been placed ! </span></p>
              </div>
      
              <div class="datetime">
                      <p class="date">Wed 12/12/2019</p>
                      <p class="time">12:45</p>
              </div>
              </div>
            </div> 
            <span class="fas fa-circle" style="color: #ffc107;" id="new-order"> </span>
            <button class="btn far fa-times-circle" title="DELETE"></button>
          </div>










          <div class="con">
                <div class="container-fluid">
                  <i class="far fa-trash-alt"></i>  
              <div class="body">
                  <div class="text">
          <p class="title">Order Canceled!</p>
          <p class="detail">Order number #MF63FPF<span style="opacity: 0.5;"> has been canceled ! </span></p>
                  </div>
          
                  <div class="datetime">
                          <p class="date">Wed 12/12/2019</p>
                          <p class="time">12:45</p>
                  </div>
                  </div>
                </div> 
                <span class="fas fa-circle" style="color: #d93a3a;" id="canceled"> </span>
                <button class="btn far fa-times-circle" title="DELETE"></button>
              </div>



              <div class="con">
                    <div class="container-fluid">
                      <i class="far fa-meh"></i>  
                  <div class="body">
                      <div class="text">
              <p class="title">Product Out of Stock!</p>
              <p class="detail">Product number #MF63FPF<span style="opacity: 0.5;"> has 0 item left ! </span></p>
                      </div>
              
                      <div class="datetime">
                              <p class="date">Wed 12/12/2019</p>
                              <p class="time">12:45</p>
                      </div>
                      </div>
                    </div> 
                    <span class="fas fa-circle" style="color: #486dc2;" id="canceled"> </span>
                    <button class="btn far fa-times-circle" title="DELETE"></button>
                  </div>



                  <div class="con">
                                <div class="container-fluid">
                                  <i class="fa fa-pagelines"></i>  
                              <div class="body">
                                  <div class="text">
                          <p class="title">Product Added!</p>
                          <p class="detail">Product number #MF63FPF<span style="opacity: 0.5;"> has been added ! </span> <span id="p-name">Bulbasaur</span> &nbsp;<span id="p-price">$5.00</span></p>
                                  </div>
                          
                                  <div class="datetime">
                                          <p class="date">Wed 12/12/2019</p>
                                          <p class="time">12:45</p>
                                  </div>
                                  </div>
                                </div> 
                                <span class="fas fa-circle" style="color: #7cc1f0;" id="canceled"> </span>
                                <button class="btn far fa-times-circle" title="DELETE"></button>
                              </div>
    












                  <div class="con">
                        <div class="container-fluid">
                          <i class="far fa-user"></i>  
                      <div class="body">
                          <div class="text">
                  <p class="title">New Customer !</p>
                  <p class="detail">sachaocochudicon@gmail.com <span style="opacity: 0.5;"> has been registered ! </span></p>
                          </div>
                  
                          <div class="datetime">
                                  <p class="date">Wed 12/12/2019</p>
                                  <p class="time">12:45</p>
                          </div>
                          </div>
                        </div> 
                       
                        <button class="btn far fa-times-circle" title="DELETE"></button>
                      </div>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                      <div class="con">
                              <div class="container-fluid">
                                <i class="far fa-lemon"></i>  
                            <div class="body">
                                <div class="text">
                        <p class="title">New Order !</p>
                        <p class="detail">Order number #MF63FPF<span style="opacity: 0.5;"> has been placed ! </span></p>
                                </div>
                        
                                <div class="datetime">
                                        <p class="date">Wed 12/12/2019</p>
                                        <p class="time">12:45</p>
                                </div>
                                </div>
                              </div> 
                        
                              <button class="btn far fa-times-circle" title="DELETE"></button>
                            </div>
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                            <div class="con">
                                  <div class="container-fluid">
                                    <i class="far fa-trash-alt"></i>  
                                <div class="body">
                                    <div class="text">
                            <p class="title">Order Canceled!</p>
                            <p class="detail">Order number #MF63FPF<span style="opacity: 0.5;"> has been canceled ! </span></p>
                                    </div>
                            
                                    <div class="datetime">
                                            <p class="date">Wed 12/12/2019</p>
                                            <p class="time">12:45</p>
                                    </div>
                                    </div>
                                  </div> 
                                  
                                  <button class="btn far fa-times-circle" title="DELETE"></button>
                                </div>
                  
                  
                  
                                <div class="con">
                                      <div class="container-fluid">
                                        <i class="far fa-meh"></i>  
                                    <div class="body">
                                        <div class="text">
                                <p class="title">Product Out of Stock!</p>
                                <p class="detail">Product number #MF63FPF<span style="opacity: 0.5;"> has 0 item left ! </span></p>
                                        </div>
                                
                                        <div class="datetime">
                                                <p class="date">Wed 12/12/2019</p>
                                                <p class="time">12:45</p>
                                        </div>
                                        </div>
                                      </div> 
                                 
                                      <button class="btn far fa-times-circle" title="DELETE"></button>
                                    </div>









        </div>
    </div>   
