<div class="container">
  <div class="col">
  <h5 class="a">Cho tôi biết sự hài lòng của bạn</h5>
  <div class="col">
  
  <div class="form-group text-center">
    <ngb-rating [formControl]="ctrl">
     <ng-template let-fill="fill">
    <span class="star color{{rating}}" [class.filled]="fill === 100">&#9733;</span>
  </ng-template>
    </ngb-rating>
    <div class="form-text small">
      <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
      <div *ngIf="ctrl.invalid" class="text-muted">Please rate us</div>
    </div>
  </div>
  <div class="col pre-con text-center d-flex justify-content-center">
   <p class="pre">RATING <b>{{ ctrl.value }}</b></p> 
  </div>
  
  </div>
  <!--<button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} mr-2" (click)="toggle()">
    {{ ctrl.disabled ? "control disabled" : " control enabled" }}
  </button>-->
  
  <div class="col">
  <form [formGroup]="rateForm" >
    <div class="form-group text-center">
        <a style="font-size: 14px">Viết nhận xét</a>
        <textarea 
            formControlName="content"
            id="content"
            type="text" 
            class="form-control"
            style="font-size: 14px;"
            ></textarea> 
    </div>
  </form>
  </div>
  
  <div class="col" style="display: flex; justify-content: space-between;">
    <button class="btn btn-tran" (click)="reset()">CLEAR</button>
  <button class="btn btn-fill">GỬI</button>
  </div>
  
  </div>
  </div>