<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul class="list-group">
        <li class="headline">
        <div class="ava" >
            <img src="https://i.imgur.com/YgDOOTW.png" alt="">
     </div>  
     <div class="ten">
           <p style="font-size: 13px; font-weight: 600;">ACCOUNT OF</p>
           <p id=name >Be Sa </p>
        </div>  
    </li>
 
    <li class="list-group-item" routerLink="/my/orders">  <span class="fas fa-box"></span>My Orders</li>
   <li class="list-group-item" routerLink="/my/info"> <span class="fas fa-user-edit"></span>My Info </li>
</ul>
  </div>