.col {
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 200px;
}

p {
    font-size: 12px;
    margin-top: -10px;
    color: #6e6e6e;
}

.container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 1px 0 0 #eeeeee,
    3px 5px 14px 0 #f5f5f5;     
    margin-bottom: 20px;
    padding-top: 10px;
}

.col-2 {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

h4 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 600;
    margin-top: 50px;
}

.col-2:after {
    content: " ";
    display: block;
    width: 4px;
    height: 40px;
    top: 146px;
    left: 0;
    background: #d93a3a;
    position: absolute;
  }

.col-10 {
    box-shadow: inset 2px -5px 14px 0 #f5f5f5 ;
    border-left: 1px solid #eeeeee;
}

.fu{
    position: relative;
    bottom: 0px;
    transition: 0.2s ease;
    text-decoration: none;
}

.fu:hover{
    bottom: 3px;
    cursor: pointer;
}


input::placeholder {
    font-size: small;
}

table thead th {
    border: none;
}

table {
    border: none;
}

.btn {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Share Tech Mono', monospace;
    background: #242424;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
    position: relative;
overflow: hidden;
    transition: 0.2s ease;
    border: none;
}

.btn:after {
    font-size: 36px;
        width: 40px;
        height: 40px;
        content: "+";
        display: flex;
        align-items: center;
        justify-content: center;
        background: yellowgreen;
        color: #242424;
        border-radius: 100px;
        position: absolute;
        margin-left: 120px;
        transition: 0.2s ease;
    }

.btn:hover {
    padding-right: 50px;
}

.btn:hover:after {
    margin-left: 107px;
    transform: rotate(90deg);
}

input {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 0 0 #eeeeee,
    3px 5px 14px 0 #f5f5f5; 
    border-radius: 100px;
    width: 50%;
    font-size: small;
    height: 40px;
}

th {
    border: none;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
}

input:focus  {
    box-shadow: none;
    border-color: #242424;
}

input[type=search]::-webkit-search-cancel-button {
    cursor: pointer;
    -webkit-appearance: none;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 16px;
    height: 14px;
}

.besa {
    margin-bottom: 20px;
    display: flex;
flex-direction: row;
justify-content: space-between;
}



.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 3px 15px 3px 3px ;
    width: 300px;
    height: 260px;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }
  
  .popup .close {
    position: absolute;
    font-size: 15px;
    text-decoration: none;
    color: #d93a3a;
    opacity: 1;
    display: flex;
    height: 21px;
    width: 21px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 5px;
    right: 5px;
    transition: 0.1s;
  }

  .fa-question-circle{
    color: yellowgreen;
    opacity: 0.7;
    margin-top: 30px;
  }

  .are {
font-weight: 700;
margin-top: 10px;
margin-bottom: 0px;
color: #242424;
  }

  .quote {
      font-family: 'Noto Sans', sans-serif;
font-size: 13px;
margin-bottom: 30px;
opacity: 0.6;
letter-spacing: 1px;
  }
  
  .popup .close:hover {
    color: white;
    background: linear-gradient(to right, #d31027, #ea384d);
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
    box-shadow: 0 3px 7px 0 rgba(255, 72, 72, 0.3);
  }
  
  .popup .content {
      margin-bottom: 30px;
  }

  .btnn {
    height: 40px;
    width: 100px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(to left, yellowgreen, rgb(173, 223, 73));
    position: relative;
    border: none;
    transition: 0.2s;
  }
  
  .btnn:hover {
    box-shadow: 0 7px 12px 0 rgba(176, 255, 17, 0.5);
    transform: translateY(-3px);
    background: linear-gradient(to left, yellowgreen, rgb(188, 233, 97));
  }
  
  
