<div class="row">
  <div class="col col-2" >
  <admin-nav></admin-nav>
</div>
  <div class="col col-10">
    <div class="row">
      <div class="col-3">
        <div class="container" > 
          <h4 style="margin-top: 0;">Online users</h4>
        <p> Số người dùng đang online</p>
        <h3> 100</h3>
        </div>
        
      </div>
      <div class="col-3">
        <div class="container">
            <h4 style="margin-top: 0;">Profit</h4>
        <p> tổng thu</p>
        <h3> 1 tỷ</h3>
        </div>
      
      </div>
      <div class="col-3">
        <div class="container">
          <h4 style="margin-top: 0;">number of orders</h4>
        <p> Tổng số order</p>
        <h3> 1 triệu đơn</h3>
        </div>
        
      </div>

      <div class="col-3">
        <div class="container">
          <h4 style="margin-top: 0;">Kho</h4>
        <p> số sản phẩm còn trong kho</p>
        <h3> 1 triệu</h3>
        </div>
        
      </div>


    </div>
    <div class="row">
      <div class="col-6">
          <div class="container" style="display: block">
        <h4 style="margin-top: 0;">User Flow</h4>
        <p>Số người dùng đăng ký mới (theo ngày theo tuần theo tháng gì á huhu)</p> 
        <canvas id="canvas" style="height: 400px"></canvas>
        </div>
      </div>
      <div class="col-6">
           <div class="container" style="display: block">
          <h4 style="margin-top: 0;">Order Flow</h4> 
          <p> số lượng order được đặt (theo ngày ... biểu đồ cột 2 dữ liệu, 1 là số order đc đặt, 2 là số order bị hủy)
          </p>
          <canvas id="canvas2" style="height: 400px"></canvas>
        </div>
      </div>
    </div>  
    <div class="row">
      <h1>Number of Online Users: {{numberOfOnlineUsers}}</h1>
    </div>
  </div>
</div>   
