<div class="container" >
    <ul class="breadcrumb">
        <li><a href="#">Cart</a></li>
        <li><a href="#">Information</a></li>
        <li>Payment</li>
    </ul>

    <div class="row check-out" style="padding-top: 10px;">
        <div [ngSwitch]="loading"  class="col shipping-info">
            <h3 style="font-weight: bold;"> Ship to</h3>
            <form *ngSwitchCase="false" [formGroup]="CheckOut">

                <div class="form-group">
                    <label>Full Name</label>
                    <input formControlName="name" name ="name" type="name" class="form-control">

                </div>

                <div class="form-group">
                    <label>Phone Number</label>
                    <input formControlName="phone" name ="phone" type="tel" class="form-control">

                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input formControlName="address" name ="address" type="text" class="form-control" >

                </div>
                <div class="form-group">
                    <label>Payment Methods</label>

                    <div class="cut">

                        <label class="paym cuc1">
                            <p class="heo heo1"> <i class="fa fa-credit-card"></i>Credit/Debit Card</p>
                            <input type="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="paym cuc2">
                            <p class="heo heo2"> <i class="fa fa-money"></i>Cash On Delivery</p>
                            <input type="radio">
                            <span class="checkmark"></span>
                        </label>

                    </div>
                </div>

            </form>
            <form *ngSwitchCase="true"  [formGroup]="CheckOut">

                <div class="form-group">
                    <label>Full Name</label>
                    <input formControlName="name" name ="name" type="name" class="form-control" value={{user.name}}>

                </div>

                <div class="form-group">
                    <label>Phone Number</label>
                    <input formControlName="phone" name ="phone" type="tel" class="form-control" value={{user.phone}}>

                </div>

                <div class="form-group">
                    <label>Address</label>
                    <input formControlName="address" name ="address" type="text" class="form-control" >

                </div>
                <div class="form-group">
                    <label>Payment Methods</label>

                    <div class="cut">
                        <label class="paym cuc1">
                            <label for="radio1" class="heo heo1"> <i class="fa fa-credit-card"></i>Credit/Debit
                                Card</label>
                            <input id="radio1" type="radio" name="paymethod" value="credit"
                                (change)="onPaymentMethodChange(1)" formControlName="paymethod">
                            <span class="checkmark"></span>
                        </label>
                        <label class="paym cuc2">
                            <label for="radio2" class="heo heo2"> <i class="fa fa-money"></i>Cash On Delivery</label>>
                            <input id="radio2" type="radio" name="paymethod" value="cod"
                                (change)="onPaymentMethodChange(2)" formControlName="paymethod">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

            </form>
        </div>
    
        <div class="col space">
        </div>
        <div class="col cart-summary">
            <div class="card">
                <div class="card-body">
                    <h3 style="font-weight:600">Order Summary</h3>
                    <p *ngIf = "totalproduct" class="Card-text">You have {{totalproduct}} items in your cart.</p>

                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let product of productlistcard; index as i" class="list-group-item">
                        {{quantity[i]}} x {{product.name}}
                        <div class="float-right">
                            {{quantity[i] * product.price}}
                        </div>
                    </li>

                    <li class="list-group-item">
                        Subtotal
                        <div *ngIf = "Total" class="float-right" style=" font-weight: bold">
                            {{Total}}
                        </div>
                    </li>

                    <li class="list-group-item"
                        style="opacity: .8; font-size: 14px; border-top: none; margin-top: -18px;">
                        Shipping fee
                        <div class="float-right">
                            1000
                        </div>
                    <li class="list-group-item" style=" font-weight: bold;font-size: 17px;">
                        Total
                        <div *ngIf = "Total" class="float-right" style="color: #d93a3a; font-size: 23px;">
                            {{Total + 1000}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters r">
        <button routerLink="/shopping-cart" class="btn">Edit Cart</button>
        <div *ngIf="paymethod === ''; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button (click)="addorder()" class="btn btn-back" disabled>Place Order</button>
        </ng-template>
        <ng-template #elseBlock>
            <div *ngIf="paymethod === 'COD'; else elseBlock">
                <button (click)="addorder()" class="btn btn-back">Place Order</button>
            </div>
            <ng-template #elseBlock>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-back" data-toggle="modal" data-target="#stripeModal">
                    Place Order
                </button>
            </ng-template>
        </ng-template>
    </div>
</div>

<div class="modal fade" id="stripeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Payment Info</h5>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form novalidate (ngSubmit)="buy()" [formGroup]="stripeFromGrp">
                    <label for="name-card-element">
                        Your Name:
                    </label>
                    <input class="stripeInput" id="name-card-element" type="text" formControlName="name"
                        placeholder="Jane Doe">
                    <br>
                    <label for="card-element">
                        Credit or debit card:
                    </label>
                    <div id="card-element" class="field"></div>
                    <button type="submit" class="btn btn-payment">Submit Payment</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
        </div>
    </div>
</div>