<div class="container-fluid">
    <div class="row no-gutters">

        <div class="user-nav" id="user-nav">
            <ul class="list-group">
                <li class="headline">
                    <div class="ava">
                        <img src="https://i.imgur.com/YgDOOTW.png" alt="" class="img">
                    </div>
                    <div class="ten">
                        <p style="font-size: 13px; font-weight: 600;">ACCOUNT OF</p>
                        <p id=name>{{user.name}} </p>
                    </div>
                </li>

                <li class="list-group-item" routerLink="/my/orders"> <span class="far fa-clone"></span>My Orders</li>
                <li class="list-group-item" routerLink="/my/info/{{user._id}}"> <span class="far fa-user"></span>My Info </li>
            </ul>
        </div>

        <div class="col main-content">
            <div class="table">

                <h4 class="sa">MY ORDERs</h4>
                <table>

                    <thead>
                        <tr>
                            <th style="width: 20%;">ID</th>
                            <th style="width: 15%;">NAME</th>
                            <th style="width: 10%;">Quantity</th>
                            <th style="width: 15%" >Total</th>
                            <th style="width: 15%;">PHONE</th>
                            <th style="width: 25%;">ADDRESS</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor = "let order of orders; index as i" >
                            <td > <a (click)="openModal(myModal, order)" data-toggle="modal" data-target="#myModal" >{{order._id}}</a> </td>
                            <td>
                                <div *ngFor ="let name of order.name">{{name}}
                                </div>  
                            </td>
                            <td >
                                <div *ngFor ="let quan of order.quantity"> {{quan}}</div> </td>
                            <td>{{order.total}}</td>
                            <td>{{order.phone}}</td>
                            <td>{{order.address}}</td>
                            
                        </tr>
                       
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <!--ng-template class="c" #myModal let-modal-->
    <div id="myModal" class="modal">
        <div class="c">
            <user-order-card  [order] = "order">  </user-order-card>
            <button class="fas fa-times" data-dismiss="modal" (click)="modal.dismiss()"></button>
        </div>
    </div>
<!--/ng-template--->


</div>

