<div class="card"   (click) = "onproductdetaill()" method="POST">
      <router-outlet></router-outlet>
  <img class="card-img-top" name="imgurl" src = {{product.imgurl}}  >

   <button (click) ="cart()"  class="btn-black nut-card nut-add"><i class="add-cart"></i></button>
    <div  class="card-body">
          <p class="card-name" name="name">{{product.name}} </p>
          
          <p  class="card-price" name= "name">{{product.price}}</p>
          <p class="old-price">{{product.price + (product.price * 10/100)}}</p>
    </div>
</div>
